body{
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
	color: #333;
}
a{
  text-decoration: none;
  cursor: pointer;
}

.sitenav{
	width: auto;
    height: 26px;
    position: relative!important;
    background: #f2f2f2;
    z-index: 99999;
    border-bottom: 1px solid #e5e5e5;
	font-size:12px;
}

.navcont{
	width:990px;
	margin:auto;

}

.navcont a{
	color: #999
}

.lsite{
	height: 26px;
    line-height: 26px;
    float: left;
	display: flex;
    flex-direction: row;
}

.lsite div{
	margin-right:20px;
	color: #999
}

.rsite{
	height: 26px;
    line-height: 26px;
    float: right;
	display: flex;
    flex-direction: row;
}

.rsite div{
	margin-left:20px;
	color: #999
}

.headercart{
	margin: -30px 0 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    width: auto!important;
    background: #fff;
    min-width: 990px;
    position: relative;
    z-index: 1000;
    height: auto;
}

.headerCon{
	width: 1190px;
    margin: 0 auto;
	padding: 30px 0 0;
    height: 115px;
	margin-bottom:30px;
}

.Searchbox{
	padding: 25px 0 0;
	float:right;
}

.Searchbox .searchWrap{
	border: solid #ff0036;
    border-width: 3px 0 3px 3px;
}

.Searchbox input{
	width: 367px!important;
    padding: 5px 3px 5px 5px;
	font-size:12px;
	outline:none;
	border: 0;
}

.Searchbox .W_Search{
	right: 0;
    top: 0;
    width: 80px;
    height: 30px;
    border: 0;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;
    color: #fff;
    background-color: #ff0036;
    overflow: hidden;
	outline:none;
}

.Jcart{
	min-width:990px;
	width:1190px;
	margin: auto;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

.Jcart .filterBar{
	overflow: hidden;
    font-size: 12px;
    position: relative;
}

.filterBar ul{
	overflow: visible;
    height: 33px;
    list-style: none;
    margin: 0;
    padding: 0;
	display:block;
	border-bottom:2px solid #e6e6e6;
}

.filterBar ul li{
	float: left;
    font-weight: 700;
    font-size: 16px;
    height: 16px;
    line-height: 1.1;
    font-family: 'Hiragino Sans GB','Lantinghei SC','Microsoft Yahei',SimSun;
    text-align: center;
    padding: 0 0 31px 0;
    cursor: pointer;
    margin-left: -1px;
	border-bottom:2px solid #f40;
}

.filterBar ul li a{
	padding-left: 15px;
	padding-right: 15px;
	color: #f40!important;
}

.cartSum{
	position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    line-height: 25px;
}

.cartSum span{
	line-height: 25px;
}

.cartSum em{
	font-family: Arial,Verdana;
    margin-right: 8px;
    color: #f40;
    line-height: 25px;
    padding-left: 2px;
    font-weight: 900;
	font-style:normal;
}

.cartSum a{
	background: #aaa;
    color: #fff!important;
    cursor: not-allowed;
	display: inline-block;
    width: 55px;
	border-radius: 2px;
    text-align: center;
	text-decoration: none;
}

.cartSum  .active{
    display: inline-block;
    width: 55px;
    color: #fff;
    background: #f40;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.cartTable{
	overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: #3c3c3c;
}

.cartTable .th {
    float: left;
}

.cartTable .th-chk {
    font-size: 12px;
    text-align: left;
    position: relative;
    height: 50px;	
}

.th-chk {	
	width: 45px;
	margin-left:10px;
}

.cartTable .SelectAll{
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
}

.cartTable input[name='check_box_all'] {
	position:relative;
	bottom:-3px;
}


.th-item{
    width: 302px;
}

.th-item .td-inner {
    padding-left: 91px;
}

.th-info{
    min-width: 172px;
	width:302px;
    padding-right: 20px;
}

 .th-price{
    min-width: 120px;
	width:140px;
}

.th-amount{
    min-width: 120px;
	width:140px;
}

.th-sum{
    min-width: 105px;
	width:140px;
}

.th-sum .td-inner {
    padding: 0;
}

.th-op{
    width: 84px;
    padding: 0 0 0 15px;
}

.th-op .td-inner {
    padding: 0;
}


.order-content {
    border: 1px solid #ccc;
}

.bundle-main{
	position:relative;
	background: #fcfcfc;
}

.order-list {
    margin-bottom: 30px;
}

.order-content ul{
	list-style:none;
	padding:0;
	background: #fcfcfc;
	margin:0;
}

.order-content .td {
    float: left;
    min-height: 119px;
	overflow:hidden;
	padding-top: 20px;
}


.order-content input[name='check_box_list'] {
    position: relative;
    bottom: -25px;
    left: 10px;
}

.order-content .td .img-pic{
	width: 80px;
    height: 80px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
}

.order-content .td .img-pic img{
	max-height: 80px;
    max-width: 80px;
    vertical-align: middle;
}

.order-content .td .item-info{
	margin: 0 0 0 91px;
    padding-right: 25px;
}

.td .item-info .basic-info {
    min-height: 40px;
}

.td .item-info .basic-info a{
	font-size: 12px;
    display: block;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
	color: #3c3c3c;
}
.td .infotxt{
	color: #9c9c9c;
	padding-right:20px;
}

.td .priceline{
	color: #3c3c3c;
    font-weight: 700;
}

.td .pricetotal{
	color: #f40;
    font-weight: 700;
}

.item-amount{
	position:relative;
	left:-20px;
	display:flex;
}

.td .item-amount input{
	width: 45px;
    height: 25px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
}

.td .item-amount a{
    display: block;
    height: 25px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
}

.BarHolder{
    height: 50px;
	min-width: 990px;
	width:1190px;
    margin: 0 auto;
	background: #e5e5e5;
}

.BarHolder .selectAll{
	float: left;
    width: 60;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
}

.selectAll input{
	bottom: -2px;
    margin-right: 5px;
    position: relative;
}

.BarHolder .deleteAll{
	margin-left: 25px;
    float: left;
	width: 50px;
    height: 50px;
    line-height: 50px;
	cursor: pointer;
}

.BarHolder .BarRight{
	float: right;
    right: 0;
    top: 0;
    z-index: 4;
    padding-left: 20px;
}

.BarRight .amountSum{
	height: 48px;
    color: #3c3c3c;
	float:left;
}

.BarRight .amountSum em{
	line-height: 50px;
    padding: 0 5px;
	color: #f40;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
	font-style: normal;
}

.BarRight .priceSum{
	height: 48px;
    color: #3c3c3c;
	float:left;
	padding-left:12px;
	line-height: 48px;
}

.BarRight .priceSum em{
	font-weight: 700;
    font-size: 22px;
    padding: 0 3px;
    color: #f40;
    font-family: tohoma,arial;
	font-style: normal;
}

.btn-area{
	float:left;
}

.BarRight .btn-area a{
	background: #B0B0B0;
    color: #fff!important;
    border-left: 1px solid #e7e7e7;
    width: 119px;
    cursor: not-allowed;
    text-decoration: none;
	line-height:50px;
	font-size: 20px;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
}

.BarRight .btn-area .active{
	display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    background: #f40;
    text-align: center;
    font-family: 'Lantinghei SC','Microsoft Yahei';
    font-size: 20px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}



